@import url("common-layout.css");

.single_post {
    margin: 15px 0 ;
    color:#555;
}
.single_post a {
    text-decoration: none;
}

#page_middle h1 {
    font-family:'Lora',serif;
    font-size:36px;
    color:#81C610;
    margin: 10px 0 ;
}

.post-title {
    font-family:'Oswald',sans-serif;
    color:#555;
    font-size:30px;
    margin-bottom: 5px;
}
.author_image_small {
    height: 50px;
    width:50px;
    float:left;
}
.author_image_small img {
    height:100%;
    width:100%;
}
.post_date, .post_author, .post-excerpt {
    font-family:'Raleway',sans-serif;
}
.post_date {
    margin-top: 10px;
}
.post_author {
    font-size:20px;
}

.post-excerpt {
    margin-top: 5px;
    font-size:18px;
    margin-bottom:2px;
}

.read_more a {
    color:#81C610;
    text-decoration: none;
    font-family:'Raleway',sans-serif;
    font-size: 15px;
}