/************   BANNER SECTION **************/

#header {
    position:relative;
}

#banner_container {
    padding: 20px 0 100px 30px;
    background-color:#555;
    height: 290px;
}
#banner_container img {
    display:block;
    margin:0 20px;
}
#cr2_logo {
    float:left;
}
#call_now {
    float:right;
    font-family:'Lora',serif;
    line-height: 120%;
    font-size:200%;
    text-align: center;
    margin-right: 50px;
    margin-top: 60px;
    background-color:#FA6900;
    border: 2px solid white;
    padding: 10px;
    color:white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#banner_tagline {
    font-family: "Raleway", Arial, sans-serif;
    line-height:120%;
    color:white;
    font-size:175%;
    font-weight:200;
    margin: 30px 0 0px 70px;

}

@media(max-width:730px) {
    #banner_container {
        height: 216px;
    }
    #banner_tagline {
        margin-left: 0px;
    }
}
@media (max-width: 630px) {
    #banner_container {
        height: 143px;
    }
    #banner_tagline {
        margin-left: 0px;
        font-size: 140%;
    }
    #cr2_logo {
        height: 125px;
    }
    #banner_logo {
        height:100%;
        width: auto;
    }
    #call_now {
        font-size: 150%;
    }

}
@media (max-width: 506px) {
    #banner_container {
        height: 153px;
    }
    #banner_tagline {
        margin-left: 0px;
        font-size: 110%;
        margin-top: 10px;
    }
    #cr2_logo {
        height: 125px;
        float:none;
    }
    #banner_logo {
        height:100%;
        width: auto;
    }
    #call_now {
        font-size: 150%;
        float:none;
        margin:inherit;
        width: 80%;
        padding:0px;
        font-size: 110%;
    }

}

/************   CORE NAVIGATION **************/
#core_nav {
    position:absolute;
    bottom:0;
    width:100%;
    font-family:'Raleway',Arial,sans-serif;
    border: 1px solid white;
    box-sizing: border-box;
    line-height: 246%;
}
#core_nav li {
    display:inline-block;
    border-right: 1px solid white;
    text-align: center;
    box-sizing:inherit;
}

#core_nav li a {
    color:white;
    text-decoration:none;
    padding: 10px 20px;
}
#core_nav li a:hover {
    background-color:#4D7A05;

}