.push {clear:both;}


#page {
    width: 96%;
    margin: 6px auto;
    padding: 0 2% ;
}

#page_left, #page_middle {
    float:left;
}

#page_left {
    width: 5%;
    overflow:hidden;
}

#page_middle {
    width: 64%;
}
#page_right {
    float:right;
    width:26%;
}

#more_info_responsive {
    display:none;
    border-top: 1px solid #555;
    padding-top: 15px;
    margin-top:15px;
}
@media (min-width: 1300px) {
    #page {
        width: 1300px;
        padding: 0 0 ;
    }
}

@media (min-width:702px) and (max-width:910px) {
    #page_left {
        display:none;
    }
    #page_right {
        width: 34%;
    }
    #more_info_responsive {
        display:inherit;
    }
}

@media (max-width:702px) {
    #page_left {
        display:none;
    }
    #page_middle {
        width:100%;
    }
    #page_right {
        width: 100%;
        border-top: 1px solid #555;
        padding-top: 15px;
        margin-top:15px;
    }
    #more_info_responsive {
        display:inherit;
    }
}