.children {
    margin-left:10px;
}

.children .children {
    margin-left:20px;
}

.children .children .children{
    margin-left:30px;
}
.depth-1.comment {
    border-top: 1px solid #81C610;
}
.comment-body {
    padding-top:15px;
    padding-bottom: 15px;

}
.comment-list {
    font-size:18px;
    color:#555;
}

.comment-list .vcard {
    font-family:'Raleway',sans-serif;
}

.commentmetadata {
    font-family:'Lora',serif;
    font-size:12px;
    font-style:italic;
    margin: 5px 0;
}

.commentmetadata a {
    color:#555;
    text-decoration: none;
}

.comment-body p,.comment-awaiting-moderation {
    font-family:'Raleway',sans-serif;
}

.comment-awaiting-moderation {
    font-size:12px;
    color:#A010C6;
}

a.comment-reply-link {
    color:#81C610;
    text-decoration: none;
    font-family:'Raleway',sans-serif;
    font-size: 15px;
}

#respond {
    border:1px solid #555;
    background-image: url("../assets/saas_background.jpg");
    padding: 10px;
}

#reply-title {
    font-family:'Oswald',sans-serif;
    color:#555;
    margin-bottom:5px;
    font-size:20px;
}

#reply-title a {
    font-family:'Raleway';
    color:#81C610;
}

#reply-title a:first-child {
    margin-left: 5px;
}
.comment-notes {
    font-family: 'Lora',serif;
    font-size:12px;
    font-style:italic;
    color:#555;
    margin-bottom:5px;
}

#respond input {
    height:30px;
    width:99%;
}
#respond textarea {
    width:99%;
}
#respond label {
    font-family:'Raleway',sans-serif;
    display:block;
    color:#555;
}
#commentform p {
    margin-bottom:10px;
}