#page-contact-form {
	height: auto;
	width: 63%;
	float: left;
	padding: 0px 0px;
	margin: 0 1%;
	border: solid 1px #050C5C;
}

#page-sidebar-left {
	height: auto;
	width: 32%;
	float: left;
	margin-left: 1%;
	margin-bottom: 2px;
}

/******************************************************************/
/******************************************************************/
/******************************************************************/
@media (min-width: 451px) and (max-width: 730px), only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape){
	#page-contact-form {
		width: 97%;
	}
}

/******************************************************************/
/******************************************************************/
/******************************************************************/
@media (min-width: 321px) and (max-width: 450px){
	#page-contact-form {
		width: 97%;
		display: inline;
	}
}

/******************************************************************/
/******************************************************************/
/******************************************************************/
@media (max-width: 320px){
	#page-contact-form {
		width: 97%;
		display: inline;
	}
}