/******************************/

#feature_set >h1 {
  font-family: 'Oswald',sans-serif;
  color:#555;
  font-size:28px;
  margin-top:20px;
  margin-bottom:5px;
}
#feature_set ul {
  list-style-image: url('../assets/bullet_circle_combo_green.png');
  list-style-position: inside;
  padding: 5px 5px;
}
#feature_set_lead_in {
  font-family: 'Raleway',sans-serif;
     line-height:150%;
     font-size:18px;
     margin-bottom: 10px;
}
.product_feature {
  margin-bottom: 30px;
}
.product_feature .graphic {
  float: left;
  height: 50px;
  width: 50px;
  margin-right: 20px;}
.product_feature .graphic_container{
  width: 20%;
}
.product_feature .graphic img{
  height:100%;
  width:100%;
}
.product_feature .text_container {
  float:left;
  width:75%;
}
.product_feature h1 {
  font-family: 'Oswald',sans-serif;
  color:#555;
  font-size:22px;
  margin-bottom:5px;
}
.product_feature h2 {
  font-family: 'Raleway',sans-serif;
     font-size:18px;
}
.learn-more {
  color:white;
  cursor: pointer;
  margin-top: 5px;
  font-family: 'Lora',serif;
  font-size:12px;
  background-color:#81C610;
  display:inline-block;
  padding: 8px;
}

.learn-more:hover {
    background-color:white;  
  color:#81C610;
  border:1px solid #81C610;
  padding: 7px;
  -webkit-box-shadow: 7px 7px 22px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    7px 7px 22px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         7px 7px 22px 0px rgba(50, 50, 50, 0.3);
}



.feature_detail {
  display:none;
    border-left: 10px solid #81C610;;
  padding-top: 10px;
  padding-bottom: 10px;
    padding-left: 5px;
    font-family: 'Raleway',serif;
    color:#555;
  line-height: 125%;
}