   /******************/
  /*   footer.css   */
 /******************/

#footer {
	width: 100%;
    margin:0 auto;
    background-color:#555;
    padding: 30px 0 ;
    line-height:120%;
    font-size:18px;
    font-family:'Raleway',sans-serif;
}

   #footer_inner {
       display:block;
       width:95%;
       margin: 0 auto;
   }
   #footer a {
       color:white;
       text-decoration: none;
   }

#footer_links {
    width:20%;
    float:left;
}
   #footer_blog {
       width:35%;
       float:left;
   }

   #footer_blog h1 {
       font-family:'Oswald',sans-serif;
       color:white;
   }

   #footer_author_list {
       margin-bottom:12px;
   }

   #footer_contact {
       width:35%;
       float:left;
       color:white;
   }
#footer_contact h1 {
    font-family: 'Lora',serif;
    font-size: 22px;
}
   #footer_social {
       width:5%;
       float:right;
   }

   #footer_social li  img {
       height:28px;
       width:auto;
   }

   @media (min-width:1300px) {
       #footer_inner {
           width:1300px;
       }
   }

   /******************************************************************/
   /******************************************************************/
   /******************************************************************/
   @media (min-width: 451px) and (max-width: 730px),only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape){
       #footer_links, #footer_blog,#footer_contact, #footer_social {
           width:50%;
       }
       #footer_links, #footer_blog {
           margin-bottom: 20px;
       }
       #footer_contact, #footer_social {
           padding-top: 20px;
           border-top: 1px solid white;

       }

   }

   /******************************************************************/
   /******************************************************************/
   /******************************************************************/
   @media (min-width: 321px) and (max-width: 450px){
       #footer_links, #footer_blog {
           display:none;
       }
       #footer_contact {
           width:80%;

       }
       #footer_social {
            width:20%;
       }
   }

   /******************************************************************/
   /******************************************************************/
   /******************************************************************/
   @media (max-width: 320px){
       #footer_links, #footer_blog {
           display:none;
       }
       #footer_contact {
           width:80%;

       }
       #footer_social {
           width:20%;
       }
   }