   /******************/
  /* front-page.css */
 /******************/

.push {clear:both;}

   /************   SECTION main **************/
   #sec_main {
       padding: 50px 100px;

   }
#sec_main .feature_container {
    border: 1px solid #4D7A05;
    -webkit-border-radius: 20px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 20px;
    -moz-border-radius-topleft: 0;
    border-radius: 20px;
    border-top-left-radius: 0;
    float:left;
    padding: 2%;
}
   #sec_main .feature_container:nth-child(1) {
        width: 25%;
       margin-top: 20px;
   }
   #sec_main .feature_container:nth-child(2) {
       width: 30%;
       margin-right: 3%;
       margin-left: 3%;
   }
   #sec_main .feature_container:nth-child(3) {
       width: 25%;
       margin-top: 10px;
   }
   #sec_main .feature_title {
       font-family: 'Lora',serif;
       font-size: 20px;
       text-align: center;
       letter-spacing: 2px;
       margin-bottom: 5px;
       line-height: 115%;
   }
   #sec_main .feature_title a{
       color: #4D7A05;
       text-decoration:none;
   }
   #sec_main .feature_title a:hover{
       color: #A010C6;
       text-decoration:underline;
   }
   #sec_main .feature_text {
       font-family: "Raleway", sans-serif;
       line-height: 150%;
   }
   #sec_main .feature_text a {
       color: #A010C6;
       text-decoration:underline;
       font-size: 85%;
       font-weight:bold;

   }

   @media(max-width:673px) {
       #sec_main {
           padding: 20px 20px;
       }
   }
   @media (max-width: 519px) {
       #sec_main {
           padding: 20px 20px;
       }
       #sec_main .feature_container:nth-child(1),
       #sec_main .feature_container:nth-child(2),
       #sec_main .feature_container:nth-child(3){
           float:none;
           width: 95%;
           margin: inherit;
           margin-bottom: 20px;
       }

   }

   /************   SECTION DIVIDERS **************/

   #sec_divider_01 {
       background-color: #81C610;
       border-top: 3px solid #555;
       border-bottom: 3px solid #555;
   }
   #sec_divider_02 {
       background-color: #555;
       border-top: 3px solid #81C610;
       border-bottom: 3px solid #81C610;
   }

   .section_divider {
       text-align: center;
       font-family:"Raleway", Arial, sans-serif;
       padding: 20px 5%;
       line-height: 130%;
       color: white;
       font-size: 150%;
       font-weight: 300;
   }

   /************   RECENT POSTS **************/

   #front_page_recent_posts {
       padding: 50px 80px;
   }
   #front_page_recent_posts a {
       text-decoration: none;

       color: #4D7A05;
       font-family:"Oswald",arial,sans-serif;
       font-size: 125%;
   }
   #front_page_recent_posts a:hover {
       color: #A010C6;
   }
   #blog_lead_in {
       font-family:"Raleway", Arial, sans-serif;
       font-size: 170%;
       margin-bottom: 18px;
       font-weight:300;
       color: #555;
   }
   .front_page_blog_post h1{
       margin-bottom:10px;
   }
   .front_page_blog_post .post_excerpt{
       font-family:"Raleway",Arial,sans-serif;
       font-size:110%;
       font-weight: 300;
       line-height: 200%;

   }
   .front_page_blog_post {
       float:left;
        width: 25%;
       padding:2%;
        border: 1px solid #4D7A05;
       -webkit-border-radius: 20px;
       -webkit-border-top-left-radius: 0;
       -moz-border-radius: 20px;
       -moz-border-radius-topleft: 0;
       border-radius: 20px;
       border-top-left-radius: 0;
       background-image: url("../assets/contact_background.jpg");
    }
   .front_page_blog_post:nth-child(3) {
       margin: 0 5%;
   }
   @media(max-width:673px) {
       #front_page_recent_posts {
           padding: 20px 20px;
       }
   }
   @media (max-width: 519px) {
       #front_page_recent_posts {
           padding: 20px 20px;
       }
       #front_page_recent_posts .front_page_blog_post:nth-child(4),
       #front_page_recent_posts .front_page_blog_post:nth-child(2),
       #front_page_recent_posts .front_page_blog_post:nth-child(3){
           float:none;
           width: 95%;
           margin: inherit;
           margin-bottom: 20px;
       }

   }

   /************   SECTION ZERO **************/
#sec00 .innerband {
    width: 100%;
    background-color: #81C610;
    margin: 0 auto;
    text-align:center;
    /*height: 500px;*/
    color: white;
    border-top: solid 2px #555;
    border-bottom: solid 2px #555;
}
#sec00 .text_container {
    width: 506px;
    display:block;
    margin: 0 auto;
    padding-top:50px;
    padding-bottom:50px;
}
#sec00 h1 {
    font-family: 'Lora',serif;
    font-size: 48px;
    letter-spacing: 10px;
}
#sec00 h2 {
    font-family:'Oswald',sans-serif;
    font-size: 24px;
    margin-bottom: 12px;
}

#sec00 .body_text {
    font-family: 'Raleway',sans-serif;
    font-size: 20px;
    line-height: 150%;
}

@media (min-width:2000px) {
    #sec00 .innerband {
        width: 2000px;
    }
}
@media (max-width:528px) {
    #sec00 .text_container {
       width: 90%;
    }
}
   /************   SECTION ONE **************/
#sec01 .innerband {
    height: 850px;
    width: 100%;
    border-bottom: solid 2px #555;
}

#sec01 .graphics_container {
    float:left;
    width:20%;
    background-color:#555;
    height:600px;
    padding-top:250px;
}
   #sec01 .graphic img {
       display:block;
       margin:0 auto;
   }
#sec01 .graphic:first-child {
    margin-bottom: 100px;
}
#sec01 #fasb_logo_vert {
    display:none;
}
#sec01 .text_container {
    font-family:'Raleway',Arial,sans-serif;
    position:relative;
    height:850px;
    float:right;
    width: 80%;
/*     background-color:beige; */
}

#sec01 .sub_text_container {
    position:absolute;
}
#sec01 .vert_bar {
    width: 20px;
    background-color: #4D7A05;
    height: 20px;
    float:left;
}
   #sec01 .sub_text_container h1 {
        font-weight:200;
       font-size:36px;
       width: 340px;
       padding: 10px 0 10px 26px;
       color:white;
   }

   #sec01 .sub_text_container .text_box_header {
       position:absolute;
       z-index: 1;
   }

   #sec01 .sub_text_container .body_text {
       width: 340px;
       font-size:19px;
       font-weight:600;
       color: #555;
       letter-spacing: 2px;
       line-height: 200%;
       border: 10px solid #4D7A05;
       padding: 30px 20px 10px 20px;
       position:absolute;
       top:32px;
       left:65px;
   }
   #sec01 .sub_text_container .body_text {
       background-image: url('../assets/tired.jpg');
   }
   #sec01 .sub_text_container.first h1 {
       background-color:#81C610;
   }
   #sec01 .sub_text_container.second h1 {
       background-color:#81C610;
   }
#sec01 .sub_text_container.second {
   top:300px;
    right:560px;
}
   #sec01 .sub_text_container.first {
       top:80px;
       left:130px;
   }
@media (min-width:2000px) {
    #sec01 .innerband {
        width:2000px;
        margin: 0 auto;
    }
}

   @media (min-width:1247px) and (max-width:1464px) {
       #sec01 .sub_text_container.first {
           left:30px;
           top:40px
       }
       #sec01 .sub_text_container.second {
           right:500px;
           top:370px;
       }
   }
       
@media (min-width: 834px) and (max-width:1247px) {
       #sec01 .sub_text_container.first {
           left:5px;
           top:10px
       }
       #sec01 .sub_text_container.second {
           right:500px;
           top:410px;
       }
      #sec01 .sub_text_container .body_text {
          line-height: 145%;
      }
  }
@media (min-width:554px) and (max-width:834px) {
    #fasb_logo_vert, #fasb_logo,#ifrs_logo {
        height:100%;
        width:100%;
    }
       #sec01 .sub_text_container.first {
           left:5px;
           top:10px;
           width:100%;
       }
       #sec01  .sub_text_container.second {
           left:5px;
           bottom:370px;
           top:inherit;
           width:100%;
       }
      #sec01 .sub_text_container .body_text {
          line-height: 179%;
          left:0px;
          width:80%;
      }
}
   @media (min-width:421px) and (max-width:554px) {
       #fasb_logo_vert, #fasb_logo,#ifrs_logo {
           height:100%;
           width:100%;
       }
       #sec01 .sub_text_container.first {
           left:5px;
           top:10px;
           width:100%;
       }
       #sec01  .sub_text_container.second {
           left:5px;
           bottom:410px;
           top:inherit;
           width:100%;
       }
       #sec01 .sub_text_container .body_text {
           line-height: 150%;
           left:0px;
           width:80%;
       }
   }
   @media (min-width:421px) and (max-width:485px) {
       #fasb_logo_vert, #fasb_logo,#ifrs_logo {
           height:100%;
           width:100%;
       }
       #sec01 .sub_text_container.first {
           left:5px;
           top:10px;
           width:100%;
       }
       #sec01  .sub_text_container.second {
           left:5px;
           bottom:410px;
           top:inherit;
           width:100%;
       }
       #sec01 .sub_text_container h1 {
           font-size:29px;
           width:100%;
       }
       #sec01 .sub_text_container .body_text {
           line-height: 150%;
           left:0px;
           width:80%;
       }
   }
@media (max-width:421px) {
    #sec01 #fasb_logo {
        display: none;
    }
    #sec01 #fasb_logo_vert {
        display:block;
    }
    #fasb_logo_vert, #fasb_logo_white,#ifrs_logo {
        height:100%;
        width:100%;
    }
    #sec01 .text_container {
        width:78%;
    }
#sec01 .sub_text_container.first, #sec01 .sub_text_container.second,
    #sec01 .sub_text_container .text_box_header, #sec01 .sub_text_container .body_text
    {
           left:inherit;
           top:inherit;
           bottom:inherit;
           right:inherit;
           position:inherit;
           display:inherit;
           float:left;
        width:100%;
       }
    #sec01 .sub_text_container.first h1,#sec01 .sub_text_container.second h1 {
        width:inherit;
        padding-left:5px;
        margin-left:-5px;
    }
    #sec01 .sub_text_container .body_text {
        border: 2px solid #4D7A05;
        font-weight:300;
          line-height: 150%;
        padding-top:7px;
        padding-left:0px;
        padding-right:0px;
        border:none;
        background-image:none;
    }
      #sec01 .sub_text_container h1 {
          font-size:23px;
          padding-left:10px;
      }
    #sec01 .sub_text_container .vert_bar {
        display:none;
    }
  }


/************ SECTION 02 ***************/
#sec02 .innerband {
    width:100%;
    margin: 0 auto;
}
#sec02 .text_container {
    padding: 100px 0 100px;
}
#sec02 .big_changes {
    background-color:#555;
    color:white;
    font-family: 'Raleway',sans-serif;
    font-size:20px;
    text-align:center;
    line-height:200%;
}
#sec02 .big_changes div {
    /*width:70%;*/
}
#sweep_text, #sweep_list, #sec02 .col_spacer {
    float:left;
}
   #no_tech {
       float:right;
   }
#sweep_text, #no_tech {
    width: 16%;
    padding-left:2%;
    padding-right:2%;
}
#sweep_list {
    width:50%;
}
#sweep_list .list_item .graphic {
    float:left;
    height:75px;
    width:75px;
    margin-right:12px;
}
#sweep_list .list_item .graphic img {
    height:100%;
    width:100%;
}
#sweep_list .list_item:not(:last-child) {
    clear:both;
        margin-bottom: 110px;

}
#sweep_list .list_item p {
    font-family: 'Raleway',sans-serif;
    font-size:20px;
    color:#555;
    padding-top:20px;
}
#sec02 .col_spacer {
    width: 1%;
}

@media (min-width:2000px) {
    #sec02 .innerband {
        width:2000px;
    }
}
   @media (max-width:644px) {
       #sweep_text, #sweep_list,#no_tech {
           float:none;
       }
       #sec02 .col_spacer {display:none;}
       #sweep_list,#sweep_text, #no_tech {
           width:inherit;
           clear:both;
           padding:30px 0;
       }
       #sec02 .text_container {
           padding:0;
       }

   }

   /************   SECTION FOUR **************/
   #sec04 .innerband {
       width: 100%;
       margin: 0 auto;
       text-align:center;
       /*height: 500px;*/
       color: #555;
       border-bottom: solid 2px #555;
       border-top: solid 2px #555;
   }
   #sec04 .text_container {
       width: 776px;
       display:block;
       margin: 0 auto;
       padding-top:200px;
       padding-bottom:200px;
   }
   #sec04 h1 {
       font-family: 'Lora',serif;
       font-size: 48px;
       letter-spacing: 10px;
       margin-bottom:12px;
   }
   #sec04 h2 {
       font-family:'Oswald',sans-serif;
       font-size: 24px;
       margin-bottom: 12px;
   }

   #sec04 .body_text {
       font-family: 'Raleway',sans-serif;
       font-size: 20px;
       line-height: 150%;
   }

   @media (min-width:2000px) {
       #sec04 .innerband {
           width: 2000px;
       }
   }
   @media (min-width:360px) and (max-width:776px) {
       #sec04 .text_container {
           width: 90%;
       }
   }
@media (max-width:360px) {
       #sec04 .text_container {
           width: 90%;
       }
    #sec04 h1 {
       letter-spacing: 5px;
    }
   #sec04 .text_container {
       padding-top:100px;
       padding-bottom:100px;
   }
}

/**************   SECTION 05 ******************/
   #sec05 .innerband {
       width: 100%;
       margin: 0 auto;
       border-bottom: solid 2px #555;
   }

   #one_step {
       position:relative;
       float:left;
       width: 39%;
   }
   #one_step_pic {
       vertical-align: middle;
       height: 100%;
       width:100%;
   }
   #one_step_text {
       position:absolute;
       top:0;
       font-family: 'Lora',serif;
       font-size: 48px;
       letter-spacing: 10px;
       line-height: 200%;
       color:#999;
       text-align:center;
   }
   #five_step_text_background {
       display:none;
   }
   #five_step {
       float:right;
       width: 59%;
   }

   #five_step h1 {
       font-family: 'Raleway',sans-serif;
       font-size: 40px;
/*        letter-spacing: 10px; */
       color:white;
       background-color:#4D7A05;
       text-align: right;
       padding: 10px;
       margin-bottom: 12px;
   }
#five_step_intro {
    font-size:20px;
       font-family: 'Raleway',sans-serif;
    letter-spacing: 3px;
    text-align: right;
    line-height:150%;
    margin-right: 10px;
}

   #five_step_list .list_item .graphic {
       float:left;
       height:75px;
       width:75px;
       margin-right:12px;
   }
   #five_step_list .list_item .graphic img {
       height:100%;
       width:100%;
   }
#five_step_list .list_item {
    clear:both;
}
   #five_step_list .list_item:not(:last-of-type){
       /*margin-bottom: 148.25px;*/

   }

   #five_step_list .list_item p {
       font-family: 'Raleway',sans-serif;
       font-size:20px;
       color:#555;
       padding-top:20px;
   }

   @media (min-width:2000px) {
       #sec05 .innerband {
           width: 2000px;
       }
   }
@media (min-width:968px) and (max-width:1222px) {
    #five_step_list .list_item .graphic {
        height:50px;
        width:50px;
    }
}
@media (min-width:911px) and (max-width:968px) {
    #five_step_list .list_item .graphic {
        height:50px;
        width:50px;
    }
   #five_step h1 {
       font-size:30px;
    }
    #five_step_intro {
        line-height: 100%;
        letter-spacing: inherit;
        font-weight: 300;
    }
}

@media (min-width: 537px) and (max-width:911px) {
    #sec05 .innerband {
        position:relative;
        overflow:hidden;
        height:493px;
    }
    #sec05 .elementcontainer {
        position:absolute;
        width:911px;
        right:0;
    }

    #one_step_text {
        display:none;
    }

    #five_step_list .list_item .graphic {
        height:50px;
        width:50px;
    }
   #five_step h1 {
       font-size:30px;
    }
    #five_step_intro {
        line-height: 100%;
        letter-spacing: inherit;
        font-weight: 300;
    }
    
}
   @media (max-width:537px) {
       #sec05 .innerband {padding-bottom: 30px;}
       #one_step {display:none;}
       #five_step {
           float:none;
           width:100%;
       }
       #five_step h1, #five_step_intro {
           text-align: center;
           font-weight:300;
       }
       #five_step_list .list_item .graphic {
           height:50px;
           width:50px;
       }

   }

   /************   SECTION 06 **************/
   #sec06 .innerband {
       width: 100%;
       margin: 0 auto;
       text-align:center;
       /*height: 500px;*/
       color: #555;
       border-bottom: solid 2px #555;
       border-top: solid 2px #555;
       background-color:#555;
       color:white;
       padding: 130px 0;
   }
   #sec06 .graphics_container img:nth-child(2) {
       margin:0 10%;
   }
   #sec06 .text_container {
       width: 776px;
       display:block;
       margin: 0 auto;
       padding-top:50px;
       padding-bottom:50px;
   }
   #sec06 h1 {
       font-family: 'Lora',serif;
       font-size: 48px;
       letter-spacing: 10px;
       margin-bottom:12px;
   }
   #sec06 h2 {
       font-family:'Oswald',sans-serif;
       font-size: 24px;
       margin-bottom: 12px;
   }

   #sec06 .body_text {
       font-family: 'Raleway',sans-serif;
       font-size: 20px;
       line-height: 150%;
   }

   @media (min-width:2000px) {
       #sec06 .innerband {
           width: 2000px;
       }
   }
   @media (min-width:392px) and (max-width:776px) {
       #sec06 .text_container {
           width: 90%;
       }
   }
   @media (min-width:360px) and (max-width:392px) {
       #sec06 .text_container {
           width: 90%;
       }
       #sec06 h1 {
           letter-spacing: 3px;
       }
       #sec06 .graphics_container img:not(:nth-child(2)) {
           display:none;
       }

   }
   @media (max-width:360px) {
       #sec06 .graphics_container img:not(:nth-child(2)) {
           display:none;
       }
       #sec06 .text_container {
           width: 90%;
       }
       #sec06 h1 {
           letter-spacing: 1px;
       }
       #sec06 .text_container {
           padding-top:100px;
           padding-bottom:100px;
       }
   }

   /*****    SECTION 07     *****/
   #sec07 .innerband {
       width:100%;
       height: 1000px;
       margin: 0 auto;
       background-image: url("../assets/saas_background.jpg");
       overflow: hidden;
   }
   #sec07 .graphics_container {
       position:relative;
       float:left;
       margin-right: 100px;
       height:1000px;
       width:750px;
   }
   #sec07 .graphic {
       position:absolute;
       -webkit-box-shadow: 12px 4px 29px 0px rgba(50, 50, 50, 0.72);
       -moz-box-shadow:    12px 4px 29px 0px rgba(50, 50, 50, 0.72);
       box-shadow:         12px 4px 29px 0px rgba(50, 50, 50, 0.72);
   }

   #sec07 .graphic.first {
       /*    right:0px;*/
       right: 0px;
       top: -90px;
   }
   #sec07 .graphic.second {
       top:250px;
   }
   #sec07 .graphic.third {
       right:0px;
       bottom:-90px;
   }

   #sec07 .graphic img {
       margin-bottom:-5px;
   }
   #sec07 .text_container {
       padding-top: 390px;
       width: 500px;
       float:left;
   }
   #sec07 h1 {
       font-family: 'Oswald',Arial,sans-serif;
       font-weight: 400;
       font-size:36px;
       color:#555;
       margin-bottom: 10px;
   }
   #sec07 .bodytext {
       line-height: 175%;
       font-size:21px;
       font-weight: 300;
       font-family: 'Raleway',Arial,sans-serif;
       clear:both;
       margin-top: 20px;
       color:#555;
   }

   @media (min-width:2000px) {
       #sec07 .innerband {
           width: 2000px;
       }
   }

   @media (min-width:1138px) and (max-width:1423px) {
       #sec07 .graphics_container {
           width: 500px;
       }
       #sec07 .graphic {
           right:0px;
       }
   }
   @media (min-width:876px) and (max-width:1138px) {
       #sec07 .graphics_container {
           width: 250px;
       }
       #sec07 .graphic {
           right:0px;
       }
   }

   @media (min-width:747px) and (max-width:876px) {
       #sec07 .graphics_container {
           width: 250px;
           margin-right: 0px;
       }
       #sec07 .graphic {
           right:0px;
       }
       #sec07 .text_container {
           width:346px;
           padding-top:346px;
           float:right;
           margin-right: 20px;
       }
   }

   @media (min-width:656px) and (max-width:876px) {
       #sec07 .graphics_container {
           width: 250px;
           margin-right: 0px;
       }
       #sec07 .graphic {
           right:0px;
       }
       #sec07 .text_container {
           width:346px;
           padding-top:346px;
           float:right;
           margin-right: 20px;
       }
   }
   @media (min-width:566px) and (max-width:656px) {
       #sec07 .graphics_container {
           width: 190px;
           margin-right: 0px;
       }
       #sec07 .graphic {
           right:0px;
       }
       #sec07 .text_container {
           width:346px;
           padding-top:346px;
           float:right;
           margin-right: 20px;
       }
   }

   @media (max-width:566px) {
       #sec07 .innerband {
           height:inherit;
       }
       #sec07 .graphic.first, #sec07 .graphic.third {
           display:none;
       }
       #sec07 .graphics_container, #sec07 .graphic.second {
           position:inherit;
           top:inherit;
           width:inherit;
           margin-right:0;
           box-shadow: none;
           height:inherit;
           float:none;
       }
       #sec07 .graphic.second img{
           width:100%;
           height:100%;
       }
       #sec07 .text_container {
           width:inherit;
           float:none;
           padding: 20px 20px;
           text-align: center;
       }
   }

   /*************  SECTION 08 ****************/

   #sec08 .innerband {
       width:100%;
       margin: 0 auto;
       padding: 120px 0;
       /*border-top: 2px solid #81C610;*/
       /*border-bottom: 2px solid #81C610;*/
   }

   #sec08 h1 {
       font-family:"Raleway", sans-serif;
       font-size: 36px;
       text-align: center;
       font-weight: 200;
       margin-bottom: 60px;
       padding: 0 10px;
   }

   #sec08 .feature_container {
       float:left;
       width: 16.65%;
       margin-bottom:40px
   }
   #sec08 .feature_container .graphic {
       height:75px;
       width:75px;
       margin: 0 auto 20px;
   }
   #sec08 .feature_container .graphic img {
       height: 100%;
       width: 100%;
   }
   #sec08 .feature_container .text {
       font-family:'Oswald',sans-serif;
       text-align: center;
       font-size: 21px;
       color:#555;
   }


@media (min-width: 2000px) {
    #sec08 .innerband {
        width:2000px;
    }
}

   @media (min-width:722px) and  (max-width:856px) {
       #sec08 .feature_container .text {
           font-size: 18px;
       }
   }
   @media (min-width:371px) and (max-width:722px) {
       #sec08 .innerband {
            padding: 100px 0;
       }
       #sec08 .feature_container .text {
           font-size: 18px;
       }
       #sec08 .feature_container {
          width:33%;
       }
   }
   @media (max-width:371px) {
       #sec08 .innerband {
           padding: 50px 0;
       }
       #sec08 .feature_container .text {
           font-size: 18px;
       }
       #sec08 .feature_container {
          width:50%;
       }
   }
