   /******************/
  /*   header.css   */
 /******************/
* {
	margin: 0;
}

html, body {
	height: 100%;
}

#wrapper {
	min-height: 100%;
}

#wrapper:after {
	content: "";
	display: block;
}

#header {
	width: 100%;
	height: auto;
}