#more_info {
    padding-top: 60px;
}
#close_more_info {
    padding-top: 60px;
    display:none;
}
#left_container {
    display:none;
}
#left_container > div {
    margin-bottom: 25px;
}
.left_section h1, #recent_posts_responsive h1 {
    font-family: 'Oswald', sans-serif;
    color:#555;
    font-size:24px;
    margin-bottom: 5px;
    margin-top: 6px;
}
#recent_posts_responsive .blog_post {
    width:98%;
}
.blog_post {
    width:80%;
    margin-bottom:10px;
    padding: 10px 5px 10px 10px;
    border:1px solid #4D7A05;
    background-image: url("../assets/contact_background.jpg");
}

.blog_post a{
    text-decoration:none;
    color:#555;
}

.blog_post:hover{
    background-color:#AFFF2E;
    -webkit-box-shadow: 12px 4px 29px 0px rgba(50, 50, 50, 0.72);
    -moz-box-shadow:    12px 4px 29px 0px rgba(50, 50, 50, 0.72);
    box-shadow:         12px 4px 29px 0px rgba(50, 50, 50, 0.72);
}

.blog_post h1 {
    font-family:'Lora',serif;
    color:#555;
    font-size:24px;
    margin-top:0;
}
.blog_post .post_date {
    font-style: italic;
    font-family: 'Lora',serif;
    float:left;
}
.blog_post .post_author {
    font-style: italic;
    font-family: 'Lora',serif;
    float:right;
}

.blog_post .post_excerpt {
    clear:both;
    font-family:'Raleway',sans-serif;
    font-size:18px;
    padding-top:5px;
}

#category_list li a {
    color:#555;
    text-decoration: none;
}
#category_list {
    font-family: 'Raleway',sans-serif;
    line-height: 125%;
}
.category_post_count {
    font-family: 'Lora',serif;
    font-size: 12px;
    font-style: italic;
}

#author_list a{
    color:#555;
    text-decoration: none;
}

.author_image {
    height:100px;
    width:100px;
    margin-bottom:5px;
}

.author_image img {
    height:100%;
    width:100%;
}
.author_name {
    font-family: 'Raleway',sans-serif;

}
