body {
    font-family: "Raleway";
    width: 1100px;
    margin: 0 auto;
}
#banner {
    padding: 5px 20px 0 20px;
    background-color:#444444;
    color:white;
    height: 224px;
}
#cr2_splat {
    height: 238px;
}
#questions {
    position: relative;
    top: 14px;
    right: 40px;
    font-size: 120%;
    color: #999;
}
#core_statement {
    font-size: 36px;
    margin: 43px 0 0 -14px;
    line-height: 119%;
}
#done_container {
    margin-top: 8px;
}
#steps_done {
    color: #81c610;
    font-size: 31px;
    margin-top:  8px;
    margin-right: 5px;
}
#bullet_listing {
    margin-top: 20px;
    line-height: 175%;
    margin-left: 150px;
    font-size: 18px;
}
#bullet_listing h2 {
    font-weight: 600;
    font-size: 130%;

}
#bullet_listing ul:first-child {
    list-style-image: url('../assets/check.png');
}
#bullet_listing ul li ul {
    margin-left: 20px;
    margin-bottom: 10px;
}
#form_outer_container {
    background-color:white;
    padding: 5px;
    width: 350px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: -80px;
    margin-right: 40px;
}
#form_container {
    background-color: #81C610;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #0079D3;
    padding: 10px 0;
}
form {
    width: 90%;
    margin: 0 auto;
}
#form_container h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}
form input[type=text],form input[type=email] {
    box-sizing:border-box;
    border: 1px solid #0079D3;
    height: 48px;
    font-size: 18px;
    margin: 2px 0 10px 0;
    width: 100%;
    padding-left: 4px;

}
input[type=submit] {
    padding:15px 15px;
    background:#0079D3;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 200;
}
form textarea {
    box-sizing:border-box;
    border: 1px solid #0079D3;
    width: 100%;
    height: 60px;
    font-size: 18px;
    margin: 2px 0 10px 0;
}

#privacy_statement {
    margin-top: 30px;
    text-align:center;
    font-size: 75%;
}
.f_left {
    float:left;
}
.f_right {
    float:right;
}
.push {
    clear:both;
}

@media (min-width:950px) and (max-width:1099px) {
    body {
        width: 100%;
    }
    #form_outer_container {
        margin-right: 10px;
    }
}
@media (min-width:600px) and (max-width:949px) {
    body {
        width: 100%;
    }
    #form_outer_container {
        margin-right: 10px;
    }
    #bullet_listing {
        margin-left: 5%;
        width: 50%;
        line-height: 125%;
    }
    #cr2_splat {
        height: 150px;
    }
    #core_statement {
        font-size: 28px;
        margin-top: 30px;
    }
    #form_outer_container {
        width: 42%;
        margin-top: -20px;
        margin-right: 1%;
    }
}
@media (min-width:450px) and (max-width:599px) {
    body {
        width: 100%;
    }
    #questions {
        font-size: 16px;
        /*width: 150px;*/
    }
    #banner {
        padding-left: 5px;
        height: inherit;
    }
    #form_outer_container {
        margin-right: 10px;
    }
    #bullet_listing {
        margin-left: 9%;
        width: 90%;
        line-height: 125%;
        float:none;
        font-size: 16px;
    }
    #bullet_listing h2 {
        font-weight: 600;
        font-size: 100%;

    }
    #cr2_splat {
        height: 75px;
        /*float:none;*/
    }
    #core_container {
        float:none;
        text-align:center;
    }
    #core_statement {
        font-size: 24px;
        margin-top: 30px;
    }
    #steps_done {
        float:none;
        font-size: 18px;
    }
    #form_outer_container {
        width: 90%;
        margin: 0 auto;
        float:none;
    }
}
@media (max-width:449px) {
    body {
        width: 100%;
    }
    #questions {
        font-size: 16px;
        width: 150px;
    }
    #banner {
        padding: 1% 1%;
        height: inherit;
    }
    #form_outer_container {
        margin-right: 10px;
    }
    #bullet_listing {
        margin-left: 9%;
        width: 90%;
        line-height: 125%;
        float:none;
        font-size: 14px;
    }
    #cr2_splat {
        height: 75px;
        float:none;
    }
    #core_container {
        float:none;
        text-align:center;
        width: 100%;
    }
    #core_statement {
        font-size: 20px;
        margin: 0 0;
    }
    #steps_done {
        float:none;
        font-size: 18px;
    }
    #form_outer_container {
        width: 90%;
        margin: 0 auto;
        float:none;
    }
    #done_graphic {
        height: 30px;
    }
}