#mobileNav {
    display:none;
    position:absolute;
    top: 10px;
    right: 20px;
}


/******************************************************************/
/******************************************************************/
/******************************************************************/
@media (min-width: 451px) and (max-width: 730px),only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape){
    #core_nav {display:none;}
    #mobileNav {
        display:inherit;
    }


}

/******************************************************************/
/******************************************************************/
/******************************************************************/
@media (min-width: 321px) and (max-width: 450px){
    #core_nav {display:none;}
    #mobileNav {
        display:inherit;
    }
}

/******************************************************************/
/******************************************************************/
/******************************************************************/
@media (max-width: 320px){
    #core_nav {display:none;}
    #mobileNav {
        display:inherit;
    }
}