   /******************/
  /*    page.css    */
 /******************/

   @import url("common-layout.css");


strong {
    font-weight: bold;
}


 .page-title {
 	font-size: 20pt;
     color: #81C610;
     font-family:'Lora',serif;
     font-size: 36px;
     margin: 10px 0;
 }

 .page-content {
     font-family:'Raleway',serif;
 }
 .page-content p, .page-content ul, .page-content ol {
     line-height:150%;
     font-size:18px;
     margin-bottom: 10px;
 }


.page-content li {
    margin-left: 20px;
    font-family: 'Lora',serif;
    font-style: italic;
}
 .page-content a {
     color: #81C610;
 }
   .page-content a:hover {
       color: #A010C6;
   }
.page-content blockquote {
    border-left: 10px solid #81C610;;
    margin-left:60px;
    padding-left: 5px;
    padding-right:70px;
    font-style: italic;
    font-family: 'Lora',serif;
    color:#555;
}

    .divider_bar {
        height: 80px;
        background-color: #555;
    }
    #main_feature_list {
        font-family:'Raleway',sans-serif;
        line-height:150%;
        font-size:18px;
        margin-bottom: 10px;
        list-style-image: url('../assets/bullet_circle_combo_green.png');
        list-style-position: inside;
    }
   #main_feature_list a {
       color: #A010C6;
   }

   /******************/
   /*    single css   */
   /******************/

   .alignleft {
       float:left;
       margin-right: 10px;
   }

   .alignright {
       float:right;
       margin-left: 10px;
   }

.post_author {
    float:left;
    margin-right: 15px;
    margin-bottom: 12px;
    
}

.post_author a {
    color:#81C610;
}

.post_author, .post_date {
    font-family: 'Lora',serif;
    font-style: italic;
}
    #single_post .article_lead_in {
        font-weight: bold;
        font-family: "Lora","Times New Roman",Serif;
    }

#single_post  .page-content h1, .inline_h1 {
    font-size:28px;
    margin-bottom:5px;
    padding-top: 10px;
}

   #single_post  .page-content h2, .inline_h2 {
       font-size:26px;
       margin-bottom:5px;
       padding-top: 10px;
   }
   #single_post  .page-content h3, .inline_h3 {
       font-size:24px;
       margin-bottom:5px;
       padding-top: 10px;
   }
   #single_post  .page-content h4, .inline_h4 {
       font-size:22px;
       margin-bottom:5px;
       padding-top: 10px;
   }
   #single_post  .page-content h5, .inline_h5 {
       font-size:20px;
       margin-bottom:5px;
       padding-top: 10px;
   }
   #single_post  .page-content h6, .inline_h6 {
       font-size:19px;
       margin-bottom:5px;
       padding-top: 10px;
   }

    .font_color_gray {
        color: #555;
    }
   .font_color_dark_green {
        color: #4D7A05;
   }
   .font_color_mid_green {
       color: #81C610;
   }

   .font_color_bright_green {
       color: #AFFF2E;
   }
   .font_color_dark_purple {
       color: #60007A;
   }
   .font_color_mid_purple {
       color: #A010C6;
   }
   .font_color_white {
       color: white;
   }
   .face_bold {
       font-family:"Oswald",arial,sans-serif;
   }
   .face_thin {
       font-family:"Raleway", arial, sans-serif;
   }
   .face_very_thin {
       font-family:"Raleway", arial, sans-serif;
       font-weight: 200;
   }
   .face_serif {
       font-family:"Lora","Times New Roman",serif;
   }

   
#single_post .page-content ul {
    list-style-image: url('../assets/bullet_circle_combo_green.png');
}
   #single_post .page-content ol {
       list-style-type: decimal  ;
   }
   #single_post .page-content li  {
       font-style: inherit;
       font-family: 'Raleway', sans-serif;
   }
   #unlimited_graphic {
       padding-left: 40px;
   }


/*********** CSS FOR BLOG PAGE ************/
   #blog_page_posts .blog_post {
       background-image:inherit;
       width:inherit;
   }


   /*********** CSS FOR QUIZ PAGE ************/

   .quiz_section {
       margin-top: 10px;
   }
   .quiz_section .mlw_qmn_question {
       font-size: 125%;
   }
   .quiz_section .qmn_radio_answers {
       margin-top: 10px;
       margin-left: 10px;
       line-height: 150%;
   }
    .quiz_end .mlw_qmn_question {
        display:block;
    }
    .quiz_end input {
        height: 30px;
        width: 100%;
    }
    .quiz_end .qmn_btn {
        height: 30px;
    }
