
#social_links {
    text-align: center;
}

#social_links li {
    display:inline-block;

}
#social_links li img, #sidr li img {
    height:28px;
    width:auto;
}
#call_us {
    font-family:'Lora', serif;
    text-align: center;
    margin: 10px;
    font-size:28px;
    text-align:center;
    color:#555;
}

#contact_form {
    width:96%;
    padding: 10px 2%;
    margin:0 auto;
    border:1px solid #555;
    background-image: url("../assets/contact_background.jpg");
}
#contact_form .screen-reader-response, #contact_form .wpcf7-not-valid-tip, #contact_form .wpcf7-validation-errors {
    color:#A010C6;
}
#contact_form .input_group {
    margin-bottom: 15px;
}
#contact_form .form_label {
    font-family:'Raleway',sans-serif;
    font-size: 18px;
    font-weight:300;
}
#contact_form input {
    height: 30px;
    width: 97%;
    font-size:18px;
    font-weight:300;
}
#contact_form textarea {
    width:97%;
}
#contact_form #send_button {
    width: 25%;
    /*float:right;*/
    margin: 5px 0;
    display:block;
}