.service_area {
    border: 1px solid #555;
    padding: 10px;
    margin-bottom: 12px;
    -webkit-border-radius: 20px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 20px;
    -moz-border-radius-topleft: 0;
    border-radius: 20px;
    border-top-left-radius: 0;
}

.service_area h1 {
    font-family: 'Oswald',sans-serif;
    color:#555;
    font-size:28px;
    margin-bottom:5px;
    padding-top: 10px;
}

.service_area .graphic {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.service_area .graphic img{
    height:100%;
    width:100%;
}

.service_area .post-excerpt {
    display:none;
}

.service_area .service_detail {
    clear:both;
    font-family: 'Raleway', sans-serif;
    font-size:18px;
    line-height: 150%;
    margin-top: 24px;
}

.service_detail ol {
    list-style-type:decimal;
    margin-left: 80px;
}

